
.html{
	height: 707px;
}

body{
	margin: 0;
	width: 1517px;
	height: 707px;


}


 .contenedor{
	
	
	margin: 0;
	position: relative;
	background-color: black;
	width: 1517px;
	height: 47px;
}

.slider{
	
	width: 1517px;
	height: 661px;
	
}


.footer{
	background: #273b47;
	height: 47px;
	position: absolute;
	width: 100%;
	margin: auto;
	
	
}

 .contenedor{
	display: flex;
	justify-content: center;
}

.social-incons {
color: white;

display: flex;
align-items: center;

height: 45px

}


.incon-li{
color: white;

font-size: 24px;

}

.flex-incons{
display: flex;
justify-content: center;
height: 45px;
align-items: center;

}



.contacto{
	
    
	color: white;
	font-size: 14px;
	width: 360px;


	
}

.flex-contacto{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 45px; 
	font-family: 'Dosis', sans-serif;

}



.contacto a{
	color: white;
	text-decoration: none;
	

} 

.menu{
	font-size: 18px;
	display: inline-block;
	position: absolute;

	right: 0;
}
 

.menu li{
	display: inline-block;
	margin-left: 30px;
}
.menu a{
	color: white;
	text-decoration: none;
}


.menu li::after{

	content: '|';
	
	line-height: 20px;
	color: white;


}







.logotipo{
	display: inline-block;
	margin-left: 0;

}


.portada{
	
	color: white;
	padding: 0;
	height:10px;


}
.header{
	position: relative;
}

.footer-logo{
	height: 40px;
	display: flex;
	align-items: center;
	margin: 0;
}

.footer-logo img{
	height: 40px;
	display: flex;
	align-items: center;
	margin-right: 100px;
	margin-top: 8px;
}

/* @media screen and (max-height: 650px){

	
body{
	margin: 0;


}
} */
